@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center; /*Eixo X*/
    align-items: center; /*Eixo Y*/
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center; /*Eixo X*/
    align-items: center; /*Eixo Y*/
    flex-direction: column;
}

.left-login > h1{
    font-size: 3vw;
    color: #77ffc0;
}

.left-login-img{
    width: 35vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center; /*Eixo X*/
    align-items: center; /*Eixo Y*/
}

.card-login{
    width: 50%;
    display: flex;
    justify-content: center; /*Eixo X*/
    align-items: center; /*Eixo Y*/
    flex-direction: column;
    padding: 30px 35px; /*[DOIS Valores: [1º: Eixo Y][2º: Eixo X]]*/
    background: #2f2841;
    border-radius: 10px;
    box-shadow: 0px 10px 40px #00000056; /*[1º: Eixo X][2º: Eixo Y][3º: Blur][4º: COR]*/
}

.card-login > h1{
    color: #00ff88;
    font-weight: 800; /*NEGRITO*/
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px; /*[UM Valor: Eixo X e Eixo Y]*/
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box; /*Vai limitar o tamanho da DIV-FILHO ao tamanho da DIV-PAI*/
}

.textfield > input::placeholder{
    color: #f0ffff94;
}

.textfield > label{
    color: #f0ffffde;
    margin-bottom: 10px;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 5px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052; /*[1º: Eixo X][2º: Eixo Y][3º: Blur][4º: SPREAD][5º: COR]*/
}

.btn-login:hover{
    color: #00ff88;
    background: #532491;
    box-shadow: 0px 10px 40px -12px #532491;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }

    .left-login{
        width: 100%;
        height: auto;
    }

    .right-login{
        width: 100%;
        height: auto;
    }

    .left-login-img{
        width: 20vh;
        margin-top: -50px;
        margin-bottom: 50px;
    }

    .card-login{
        width: 90%;
        box-sizing: border-box;
    }
}